<!DOCTYPE html>
<html>
<head>
    <title>CourseSphere | Create Course</title>
</head>
<body>
<h2>Create a New Course</h2>
<form action="/courses/add" method="post">
    <div>
        <label>Course ID:</label>
        <input type="number" name="id" required>
    </div>
    <div>
        <label>Course Title:</label>
        <input type="text" name="title" required>
    </div>
    <div>
        <label>Description:</label>
        <input type="text" name="description" required>
    </div>
    <br>
    <button type="submit">Save Course</button>
</form>
<br>
<a href="/courses">Back to Course List</a>
</body>
</html>
