<!DOCTYPE html>
<html>
<head>
    <title>CourseSphere | Course Catalog</title>
</head>
<body>
<h1>Course Catalog</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {{#courses}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
        </tr>
    {{/courses}}
    </tbody>
</table>
<br>
<a href="/courses/add">+ Create New Course</a> | <a href="/">Back to Home</a>
</body>
</html>
