<!DOCTYPE html>
<html>
<head>
    <title>CourseSphere Instructors</title>
</head>
<body>
<h1>Instructor Directory</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {{#instructors}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
        </tr>
    {{/instructors}}
    </tbody>
</table>
<br>
<a href="/instructors/add">Add New Instructor</a> | <a href="/">Back to Home</a>
</body>
</html>