<!DOCTYPE html>
<html>
<head>
    <title>CourseSphere Students</title>
</head>
<body>
<h1>Student List</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {{#students}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
        </tr>
    {{/students}}
    </tbody>
</table>
<br>
<a href="/students/add">Add New Student</a> | <a href="/">Back to Home</a>
</body>
</html>